@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$fire-opal: #ED6A5A;
$pale-spring-bud: #F4F1BB;
$opal-lighter: #9BC1BC;
$opal-medium: #68A19B;
$opal-dark: #1F3230;
$snow: #F8F4F9;
$cadet-blue: #5CA4A9;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $opal-dark;
$grey-light: $snow;
$primary: $fire-opal;
$link: $cadet-blue;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $snow;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Import Bulma
@import 'bulma';
@import 'bulma-tooltip';

hr {
  border: 1px solid $dark;  
}

hr.depth {
  border: 5px solid $dark;
  border-radius: 5px;
}

.background-image {
  background-image: url("../static/images/underwater.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  height: 100%;
}

.map-background {
  background: linear-gradient($grey-dark, $grey-dark) no-repeat center/20px 99%;
}
