@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$fire-opal: #ED6A5A;
$pale-spring-bud: #F4F1BB;
$opal-lighter: #9BC1BC;
$opal-medium: #68A19B;
$opal-dark: #1F3230;
$snow: #F8F4F9;
$cadet-blue: #5CA4A9;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $opal-dark;
$grey-light: $snow;
$primary: $fire-opal;
$link: $cadet-blue;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $snow;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Import Bulma
@import 'bulma';
@import 'bulma-tooltip';


hr.depth {
  border: 5px solid white;
  border-radius: 5px;
}



.background-image {
  background: url("../static/images/underwater.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  // background-image: url("../static/images/underwater.jpg") ;
  // background-position: center center;
  // background-repeat:  no-repeat;
  // background-attachment: fixed;
  // background-size:  cover;
  // height: 100%;
}

.map-background {
  background: linear-gradient($grey-dark, $grey-dark) no-repeat center/20px 99%;
}

.map-container {
  height:99vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.map-container::-webkit-scrollbar { /* WebKit */
    width: 0;
}

.has-text-invisible {
  color: rgba(0, 0, 0, 0.0);
}

.is-transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

.is-less-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.is-bordered-text {
  background-color: transparent;
  // border-color: transparent;
  text-decoration: underline;
}
